@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Roboto&display=swap');
body{
    margin: 20px;
    padding: 0;
}


.header1{
    width: 1440px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 122px;
    height: 63px;
    margin-left:113px;
    top: 33px;
    bottom: 23px;
}
ul{
    list-style: none;
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 40px;
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    Font-size:24px;
    Line-height: 30px;
    color: #B08EAD;
}
.korzinka{
    width: 22px;
    height: 20px;
    margin-right: 120px;
    margin-top: 13px;
}
.block-0{
    position: relative;
    width: 1440px;
    height: 817px;
}
.bc-1{
 background-image: url("./image/bc-1.png") ;

    margin: 0 auto;
}
.bc-2{
    margin-top: -6px;
}
.frontphoto-1{
    position: absolute;
    width: 851px;
    height: 675px;
    margin-top: -731px;
    margin-left: 178px;
}

.text-0{
    position: absolute;
    margin-top: -602px;
    margin-left: 895px;
    width: 425px;
    height: 450px;
    background-color: #B08EAD;
    color: #FFFFFF;
    padding-left: 40px;
}
.new{
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 30px;
    width: 35px;
    height: 30px;
    margin-top: 124px;
}
.spring{
    width: 280px;
    height: 55px;
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    Font-size: 45px;
    Line-height: 55px;
    margin-top: 16px;
}
.collection{
    width: 274px;
    height: 55px;
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    Font-size: 45px;
    Line-height: 55px;
    margin-top: -51px;
}
.buynow{
    margin-top: 20px;
    color: #FFFFFF;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 30px;
    width: 73px;
    height: 30px;
    text-decoration: none;

}
.btn{
    position: absolute;
    width: 66px;
    height: 0.5em;
    margin-left: -62px;
    margin-top:31px;
}
.text1{
    text-align: -webkit-center;
}
.cushion{
    margin-top: 75px;
    width: 197px;
    height: 30px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 30px;
    color: #B99BB6;
}
.text-p{
    margin-top: 13px;
    width: 747px;
    height: 76px;
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    Font-size: 24px;
    Line-height: 38px;
    color: #5F4D5D;
}
.learn{
    border: 1px solid #B99BB6;
    border-radius: 25px;
    padding: 10px;
    width: 141px;
    height: 45px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 11px;
    Line-height: 15px;
    background-color: #FFFFFF;
    color: #B99BB6;
    margin-top: 17px;

}
.block-1{
    display: flex;
    margin-top: 50px;
    margin-left: 131px;
    gap: 37px;
}
.text2{
    margin-left: 131px;
    width: 343px;
    height: 113px;
    border: 1px solid #CEB3CB;
    background-color:#CEB3CB ;
    color: #FFFFFF;
    padding-left: 23px;
    padding-top: 23px;
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    Font-size: 25px;
    Line-height: 30px;
}
.about1{
    margin-top: 10px;
}
.learn1{
    width: 79px;
    height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    Font-size: 17px;
    Line-height: 30px;
}
.text3{
    margin-left: 536px;
    margin-top: -139px;
    width: 343px;
    height: 113px;
    border: 1px solid #CEB3CB;
    background-color:#CEB3CB ;
    color: #FFFFFF;
    padding-left: 23px;
    padding-top: 23px;
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    Font-size: 25px;
    Line-height: 30px;
}
.myproducts{
    margin-top: 10px;
}
.learn2{
    width: 79px;
    height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    Font-size: 17px;
    Line-height: 30px;
}
.text4{
    margin-left: 941px;
    margin-top: -139px;
    width: 343px;
    height: 113px;
    border: 1px solid #CEB3CB;
    background-color:#CEB3CB ;
    color: #FFFFFF;
    padding-left: 23px;
    padding-top: 23px;
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    Font-size: 25px;
    Line-height: 30px;
}
.contactme1{
    margin-top: 10px;
}
.learn3{
    width: 79px;
    height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    Font-size: 17px;
    Line-height: 30px;
}
.block-2{
    display: flex;
    margin-top: 70.36px;
    margin-left: 173.5px;
}
.beginnings{
    width: 99px;
    height: 30px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 30px;
    color: #B99BB6;
}
.credibly{
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    Font-size: 24px;
    Line-height: 30px;
    color: #5F4D5D;
}
.dramatically1{
    width: 461px;
    height: 60px;
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    Font-size: 20px;
    Line-height: 30px;
    color:#5F4D5D;
}
.kartinka1{
    margin-left: 100px;
}
*.line0{
    margin-top: 25px;
}
.block-3{
    display: flex;
    margin-top: 25px;
    margin-left: 144.5px;
}
.carrer1{
    margin-left: 93px;
}
.carrer{
    color: #B99BB6;
    margin-top: 139.3px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 30px;
}
.collaboratively1{
    width: 434px;
    height: 60px;
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    color: #5F4D5D;
    Font-size: 24px;
    Line-height: 30px;
}
.objectively{
    width: 434px;
    height: 60px;
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    color: #5F4D5D;
    Font-size: 24px;
    Line-height: 30px;

}
.and{
    margin-top: 10px;
    width: 451px;
    height: 60px;
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    color: #5F4D5D;
    Font-size: 24px;
    Line-height: 30px;
}
.learn11{
    margin-top: 20px;
    width: 141px;
    height: 45px;
    padding: 10px;
    border: 1px solid #5F4D5D ;
    border-radius: 25px;
    text-decoration: none;
    color: #B99BB6;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 11px;
    Line-height: 15px;

}
.block-4{
    display: flex;
    margin-top: 25px;
}
.text5{
    margin-left: 173.5px;
}
.product1{
    width: 85px;
    height: 30px;
    margin-top: 122.27px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 30px;
    color: #B99BB6;

}
.seamlessly{
    width: 459px;
    height: 90px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 30px;
    color: #B99BB6;

}
.credibly{
    width: 461px;
    height: 60px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 30px;
    color: #B99BB6;

}
.energistically{
    width: 466px;
    height: 30px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 30px;
    color: #B99BB6;
}
.kartinka3{
    margin-left: 108px;

}
.block-5{
    display: flex;
    margin-top: 91.03px;
    margin-left: 112.05px;
}
.block-5-2{
    margin-left: 26px;
}
.block-5-3{
    margin-left: 26px;
}
.bl-5-2{
    display: flex;
    margin-left: 228.05px;
    margin-top: 9px;
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    Font-size: 24px;
    Line-height: 30px;
    color: #5F4D5D;
}
.silver{
    margin-left: 262px;
}
.deep{
    margin-left: 263px;
}
.usa{
    display: flex;
    width: 88px;
    height: 18px;
    color: #B0B0B0;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 17.5px;
    margin-left: 1.5px;
    margin-top: -5px;
}
.usa2{
    margin-top: -5px;
    margin-left: 315px;

}
.usa3{
    margin-top: -5px;
    margin-left: 345px;
}
.block-6{
    display: flex;

}
.bl-6-01{
    margin-top: 54px;
    margin-left: 112.5px;
}
.bl-6-02{
    margin-top: 54px;
    margin-left: 26px;
}
.bl-6-03{
    margin-top: 54px;
    margin-left: 26px;
}
.bl-6-1{
    margin-top: 9px;
    display: flex;
    Font-family: Cormorant Garamond;
    Font-style: Regular;
    Font-size: 24px;
    Line-height: 30px;
    color: #5F4D5D;
}
.pink{
    width: 129px;
    height: 30px;
    margin-left: 235.5px;
}
.black{
    width: 137px;
    height: 30px;
    margin-left: 271px;
}
.green{
    width: 143px;
    height: 30px;
    margin-left: 263px;
}
.usa1{
    display: flex;
    width: 88px;
    height: 18px;
    color: #B0B0B0;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 17.5px;
    margin-left: 256.5px;
    margin-top: -5px;
}
.usa1-2{
    margin-left: 315px;

}
.usa1-3 {
    margin-left: 345px;
}
.block-7{
    margin-top: 75.53px;
    border: 1px solid #D6BBD3;
    width: 1440px;
    height: 235px;
    background-color: #D6BBD3;
}
.logo3{
    padding-left: 112.5px;
    padding-top: 46px;
    width: 1215px;
    height: 165px;
    padding-top: 34.88px;

}
.block-8{
    width: 1441px;
    height: 137px;
    background-color: #C9ADC6;
}
.footerlogo{
    width: 103.49px;
    height: 58px;
    margin-left: 482.62px;
    margin-top: 27px;


}
.ulfooter{
    color: #FFFFFF;
    margin-top: -55px;
    margin-left: 361px;

}

